* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #999999;
}

#page-container {
  display: block;
  height: 90vh;
  background: linear-gradient(#333333, #999999);
  color: white;
}

#tabbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  padding: 2px 0;
  background-color: #999999;
}

#tabbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

#tabbar li {
  display: inline;
  align-items: center;
}

#tabbar li a {
  padding: 1vh;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#tabbar li a:hover {
  background-color: #777;
}

#tabbar li p {
  color: black;
}

#tabbar li img {
  width: 4vh;
  height: 4vh;
}

.colorPicker, .colorPicker * {
  display: inline;
}

